body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

/* .btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
} */

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.btn-group {
  text-align: center;
}

.title-btn {
  width: 160px;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5em;
  display:inline-block;
}

.left-btn {
  border-radius: 15px 0 0 15px;
}

.right-btn {
  border-radius: 0 15px 15px 0;
}

.title-btn:focus {
  outline: none;
}

.Question-Item {
  width: 35%;
  padding: 10px;
  padding-left: 20px;
  border: 1px solid black;
  margin: 15px auto;
  border-radius: 5px;
  cursor: pointer;
}

.Question-Item:hover {
  background-color: #eee;
}

.option-btn {
  display: block;
  margin: 20px auto;
  width: 60%;
}

/* .option-btn:hover {
  background-color: #999;
  color: #ddd;
} */

.poll-title {
  margin: 5px auto;
  width: 40%;
  display: flex;
  justify-content: center;
}

.poll-title > h3 {
  display: inline-block;
}

.poll-detail-item {
  border: 1px solid #000;
  border-radius: 15px;
  margin: 50px auto;
  width: 60%;
}

.LeaderBoard-item {
  border: 1px solid #000;
  width: 40%;
  margin: 10px auto;
  display: flex;
  /* justify-content: center; */
}

.avator-name {
  margin: 15px 20px;
}

.avator-name > img, .avator-name > h4 {
  margin-top: 2px;
}

.score-panel p {
  padding-top: 15px;
  margin-left: 10px;
}

.rank {
  font-size: 60px;
  margin: 0;
  margin-right: 25px;
  margin-left: 20px;
  border: none;
  padding-top: 25px;
}

.input-group {
  display: block;
  padding: 10px 10px;
  margin: 5px auto;
}

.newpoll-form {
  border: 1px solid #000;
  width: 60%;
  margin: 20px auto;
}

.text-input {
  width: 270px;
  height: 20px;
  margin-left: 10px;
}

.newpoll-form div:nth-child(1) {
  margin-top: 18px;
}

.newpoll-form button {
  margin-top: 5px;
}

.login-panel {
  padding: 25px;
}

.login-panel button {
  margin-left: 8px;
  cursor: pointer;
}

.login-title {
  display: inline;
}
